<div class="swiper-container slider1">
	<div class="swiper-wrapper">

		<div class="swiper-slide" onmouseover="mouseover1();" onmouseout="mouseout1();"/>
			<%= link_to image_tag('yamanobori.png', class:"aclass"),runninggame_games_path%> </div>
		<div class="swiper-slide" onmouseover="mouseover2();" onmouseout="mouseout2();"/>
			<%= link_to image_tag('burokkukuzusi.png', class:"aclass"),blockbreaking_games_path%> </div>
		<div class="swiper-slide" onmouseover="mouseover3();" onmouseout="mouseout3();"/><%= image_tag 'batu.png', class:"aclass"%> </div>
    <div class="swiper-slide" onmouseover="mouseover4();" onmouseout="mouseout4();"/><%= image_tag 'batu.png', class:"aclass"%> </div>
    <div class="swiper-slide" onmouseover="mouseover5();" onmouseout="mouseout5();"/><%= image_tag 'batu.png', class:"aclass"%> </div>   
	</div>
</div>
  <div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>


<script>
	var slider1 = new Swiper ('.slider1', {
		loop: true,
			initialSlide: -1,
		spaceBetween: 80,
		slidesPerView: 3,
		// autoplay: {
		// 	delay: 3000,
		// 	stopOnLastSlide: false,
		// 	disableOnInteraction: false,
		// 	reverseDirection: false
		// },
			speed: 500,
			// height: 1200,
			// width: 800,
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev'
		},
		pagination: {
			// el: '.swiper-pagination',
			// type: 'bullets',
			// clickable: true
		}
	});

</script>